.bar-lenguages{
    background-color:#000000;
    color: #F3F3F3;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

nav{
    background-color: #F0A83E;
    height: 62px;
}
nav img{
    position: absolute;
    left: 20px;
    top: 42px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    position: absolute;
    right: 20px;
    top: 30px
}

nav a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400; 
    padding: 20px;
}

fa-paw{
    color:white;
}

.sectionWelcome{
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    display: block;
    height: 409px;
    background-size:cover;

}

.welcomeText{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color:#3C2313;
    background-color: white;
    text-align: center;
    width: 365px;
    height: 54px;
    position: absolute;
    right: 20px;
    top: 246px;
    border-radius: 5px;
   
}
.welcomeSubText{
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    right: 120px;
    top: 303px;   
}
.buttonContact{
    font-family: 'Roboto', sans-serif; 
    background-color: #F0A83E;
    border-radius: 5px;
    border-width: 0;
    width: 141px;
    height: 49px;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    right: 135px;
    top: 334px;
}
.center{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
    padding-top: 2%;
}

article{
    margin: auto;
}
h2{
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color:  #3C2313;
    display: block;
    text-align: center;
}

#textUnderProducts{

    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color:  #666666;
    display: block;
    text-align: center;
    padding-top: 0%;
}

article{
    display: inline-block;
    padding: 20px;
}

.textDescrip{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color:  #3C2313;
    display: block;
    text-align: center;
    padding-top: 0%;
    
}
.price{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color:  #F0A83E;
    display: block;
    text-align: center;
    padding-top: 0%;
}

footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 11,72px; 
    text-align: center;
    background-color: #222222;
    color: white;
}

fa-instagram{
    color:white;
}
fa-linkedin{
    color:white;
}
fa-github{
    color:white;
}