*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    font-size: 62.5%;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#000000;
    color: #F3F3F3;
    height: 20px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-right: 60px;
    padding-left: 90px;
}


.top-bar-selectors{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color:#000000;
    color: #F3F3F3;
    
}


nav{
    display: flex;
    background-color: #F0A83E;
    height: 62px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /*padding: 20px, 40px, 20px, 40px;*/
}
.top-logo{
    width: 16.2vw;
    height: auto;
    padding-left: 3.9vw;
}

.menu-contracted-icon{
    display: none;
    padding-right: 10vw;
}


nav ul li{
    display: inline;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
    list-style-type: none;
    color: white;
    padding: 20px;
}


fa-paw{
    color:white;
}

.sectionWelcome{
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    display: flex;
    height: 409px;
    background-size:cover;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.welcomeText{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color:#3C2313;
    background-color: white;
    border-radius: 5px;
    margin: 12px;
    padding: 10px;
   
}
.welcomeSubText{
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    margin-right: 95px;
  
}
.buttonContact{
    font-family: 'Roboto', sans-serif; 
    background-color: #F0A83E;
    border-radius: 5px;
    border-width: 0;
    width: 141px;
    height: 49px;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin-right: 117px;

}

.sectionProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    
}

h2{
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    color:  #3C2313;
    margin:20px;
    
}

#textUnderProducts{

    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 1.5rem;
    word-spacing: 1em;
    color:  #666666;
    margin: 0px;
}

.centerProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 49px;   
}

article{
    margin: 20px;
}

.textDescrip{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 1.5rem;
    color:  #3C2313;
    display: block;
    text-align: center;    
}
.price{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 1.5rem;
    color:  #F0A83E;
    display: block;
    text-align: center;
}

footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem; 
    text-align: center;
    background-color: #222222;
    color: white;
}
.sectionForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 20px; 
}

form input{
    background-color:#3C2313;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    height: 40px;
    width: 340px;
    border-radius: 15px;
    margin: 5px;
}

.buttonReset{
    height: 34px;
    width: 110px;
    border-radius: 15px;
    background-color:#8A8787;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    color: white;
    border-width: 0px;
    margin-top: 41px;
    margin-bottom: 75px;

}
.buttonEnviar{
    height: 34px;
    width: 110px;
    border-radius: 15px;
    background-color:#F0A83E;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    color: white;
    border-width: 0px;

}

.subscribeBottomBar{
    background-color: #F0A83E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
}

.subscribeBottomBarTex{
    color:white;
    display: flex;
    align-items:center;
    padding-left: 2.7vw;
}

.texSubs{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    margin:10px;
}

.subsInputCont{
    display: flex;
    align-items:center;
    padding-left: 3.2vw;
}

.inputSubs{
    background-color: white;
    color:#A0A0A0;
    font-size: 00.9rem;
    width: 25vw;
    height: 40px;
    border-radius: 15px;
    border:0px;
    padding-left: 8px;
}

.buttonSubs{
    background-color: #3C2313;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    width: 70px;
    height: 34px;
    border-radius: 15px;
    border: 0px;
    margin-right: 47px;
    margin-left: 5px; 
}

.footeriInfoCont{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #3C2313;
}

.footerInfoIconsCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:30px;
}

.footerInfoIconsDetail{
    display: flex;
    align-items: center;
}

.titlesFooter{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 30px;
}
.sutitlesFooter{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    color:#8A8787;
    margin-top: 0px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 25px;
}

.footerIcons{
    margin-bottom: 25px;
}

.footerLogo{
    margin:10px ;
}

.footerBottomBar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 1.2rem;
}

fa-instagram{
    color:white;
}
fa-linkedin{
    color:white;
}
fa-github{
    color:white;
}

@media(max-width: 680px){
    .top-bar{
        display: none;
    }

    .top-logo{
        width: 35vw;
        padding-left: 10vw;
    }

    nav ul li{
        display: none;
    }

    .menu-contracted-icon{
        display:inline-flex;
    }

    .welcomeText{
        font-size: 2.5rem;
    }

    #textUnderProducts{
        font-size: 1.3rem;

    }

    .subscribeBottomBar{
        height: 101px;   
    }

    .inputSubs{
        width: 63vw;
    }

    .buttonSubs{
        width:24vw ;
    }

    .footeriInfoCont{
        flex-direction: column-reverse;
    }

    .footerBottomBar{
        font-size: 1.3em; ;
    }

    .buttonReset{
        width: 48vw;
    }

    .buttonEnviar{
        width: 48vw;
    }

}
