header {
    background-color:#E6E6E6;
    background-image: url('https://www.swamivivekanandauniversity.ac.in/files/202106112313.jpg') ;
}
.profilePic{
    width: 20%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: 'Roboto Mono', monospace , Times, serif;
    font-weight: bold;
    color:#E6E6E6; 
    text-align: center;
    background-color:#011d6db4;
}

footer{
    text-align: center;
    background-color: #011d6db4;
    color: #E6E6E6;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.subtitles{
    font-family: 'Roboto Mono', monospace , Times, serif;
    font-weight: bold;
    color:#E6E6E6; 
    text-align: left center;
    background-color:#011d6db4;
    
   
}

.bold{
    font-family: 'Roboto Mono', monospace , Times, serif;
    font-weight: bold;
    color:#011d6db4;
}

/* .boldItalic{
    font-family: 'Roboto Mono', monospace , Times, serif;
    font-weight: bold;
    font-style: italic;
    color:#011d6db4;
} */

.text{
    font-family:'Roboto Mono', monospace , Times, serif;
}
.navButton {
    font-family:'Roboto Mono', monospace , Times, serif;
    color: #011d6db4;
    font-weight: bold;
}